.example-spacer {
    flex: 1 1 auto;
}

mat-sidenav-container {
    height: 100vh;
}

mat-sidenav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 200px;
    border-right: none;
    background: linear-gradient(to bottom, #002856, #002c6c, #003182, #003798, #003caf);
    color: white;
    padding: 16px;
    text-align: center;
}

mat-toolbar {
    background-color: #0e0958;
    color: white;
}

.menu-button {
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

.menu-button mat-icon,
.menu-button span {
    margin-right: 8px;
    color: white;
}

.content {
    height: calc(100vh - 30px);
    border-radius: 2px;
    margin: 15px;
    margin-left: 25px;
    display: flex;
    font-size: 1.5rem;
    color: lightgray;
}

mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: aliceblue;
}

h2 span {
    font-family: "Quicksand";
}

/*-------------------program*/
.content {
    
    padding-left: 100px;
    padding-top: 20px;
    padding-right: 100px;
    font-size: 14px;
}
.main {
    width: 60%;
}
.article {
    width: 80%;
    margin-left: 80px;
    margin-right: 80px;
  }
.article-item {
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
.article-item strong {
    display: block;
}
/*---------------imagenes de contenedor*/
.image-container {
    display: flex;
    justify-content: space-between;
  }
  
  .image-container img {
    
    margin-right: 10px; /* Espacio entre las imágenes */
  }
  .image-container {
    padding-top: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  