<mat-sidenav-container class="example-container">

  <mat-sidenav mode="side" opened>


  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content mat-elevation-z8">
      <div class="contenido" style="color: black;">


        <h2 style="text-align: center;"><strong>Comite Organizador</strong></h2><br>

        <section class="article">
          <div class="article-item">
            <strong>🔹Johnny Centeno:</strong>
            <p>Desde un enfoque transdisciplinario, Johnny, planifica y supervisa los aspectos Académicos, Logísticos y
              Creativo – comunicacional. Con su capacidad para enfrentar cualquier desafío y su dedicación las 24 horas
              del día, 7 días a la semana, proporciona un soporte sólido y constante, garantizando un flujo
              ininterrumpido de operaciones.</p>
          </div>
          <div class="article-item">
            <strong>🔸Mireya Calle:</strong>
            <p>Ella es la esencia de nuestro apoyo académico. Mireya, con su vasto conocimiento, asegura que el
              contenido de nuestro programa sea siempre de la más alta calidad y relevante para nuestros participantes.
              También realiza un seguimiento meticuloso de los trabajos finales del programa y apoyo en la moderación de
              cada módulo, asegurando el éxito de cada estudiante.</p>
          </div>
          <div class="article-item">
            <strong>🔹Andrés Contreras:</strong>
            <p>Desde su enfoque logístico, asegurará un funcionamiento adecuado de nuestras operaciones. Por otro lado,
              también brindará asesoramiento técnico invaluable en el desarrollo de trabajos finales en las áreas de
              comunicación, marketing y valor agregado a los emprendimientos.</p>
          </div>
        </section>

        <div class="image-container">
          <img style=" height: 125px;" src="../../../assets/img/barra-de-colores.png" alt="">
          <img style=" height: 125px;" src="../../../assets/img/barra-de-colores.png" alt="">
        </div>


      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
