<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <img style="width: 80px; height: 80px;" src="../../../assets/img/logo-emprendimiento.png" alt="logo">

    <mat-divider></mat-divider>

    <button routerLink="/student-program" mat-button class="menu-button">
      <mat-icon>school</mat-icon>
      <span>Programa</span>
    </button>

    <button routerLink="/student-lideres" mat-button class="menu-button">
      <mat-icon style="padding-right: 20px;">group</mat-icon>
      <span>GrupoPromotor</span>
    </button>

    <button routerLink="/student-modul" mat-button class="menu-button">
      <mat-icon>widgets</mat-icon>
      <span>Modulos</span>
    </button>

    <button routerLink="/student-tarea" mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Tareas</span>
    </button>

    <mat-divider></mat-divider>

    <button routerLink="/student-calendar" mat-button class="menu-button">
      <mat-icon>date_range</mat-icon>
      <span>Calendario</span>
    </button>

    <button routerLink="/history" mat-button class="menu-button">
      <mat-icon>history</mat-icon>
      <span>Historial</span>
    </button>

    <button routerLink="/student-project" mat-button class="menu-button">
      <mat-icon>check_circle</mat-icon>
      <span>Proyecto Final</span>
    </button>

    <mat-divider></mat-divider>

    <button routerLink="/student-help" mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content mat-elevation-z8">
      <div class="contenido" style="color: black;">
      
          <h2 style="text-align: center; padding-bottom: 15px;"><strong>Presentación</strong></h2><br>
          <h3 style="padding-left: 60px; padding-bottom: 15px;"><strong>Datos Generales del Programa: </strong></h3><br>
        

          <section class="contenido">
            <div class="main">
              <p style="padding-bottom: 30px;">
                Bienvenidos al Programa Emprendimiento Social: Una alternativa hacia la sostenibilidad. Está certificación
                acreditada por la Universidad de Cuenca como Experto/a en Emprendimiento Social Sostenible: Generador/a de
                Proyectos con Valor e Innovación Social, tiene como objetivo general generar competencias en los
                emprendedores sociales desde un enfoque de sostenibilidad para generar valor e innovación social.
                El programa abordará una variedad de temas, como el impacto social, económico y ambiental del emprendimiento
                social desde un enfoque de sostenibilidad, las bases legales para el emprendimiento social, así como también
                las estrategias de financiamiento. Además, se dotarán a los participantes de saberes teórico-prácticos
                referentes a ciencia, tecnología, marketing y dinámicas de comercialización en el emprendimiento social, así
                como evaluar proyectos de emprendimiento social.
                A través de esta certificación, las y los participantes contarán con una visión crítica, innovadora y
                sostenible en los diversos procesos de emprendimiento social, lo que les permitirá desarrollar y proponer
                proyectos de emprendimiento social que satisfagan necesidades sociales, económicas y ambientales. Esperamos
                que el Programa Emprendimiento Social: Una alternativa hacia la sostenibilidad les ofrezca a los
                participantes una experiencia formativa única e innovadora, contribuyendo a la construcción de una sociedad
                más justa, sostenible y equitativa.
              </p>
              
              <p style="padding-bottom: 20px;"><strong>¡Conócenos y descubre el poder detrás de nuestro excepcional Equipo Promotor del Programa!
                </strong>
              </p>
              
              <p>
                Cada uno de nosotros/as, armados/as con pasión, dedicación y habilidades especializadas, llevamos nuestro
                programa más allá de los límites.
              </p>
            </div>
            
            <div class="image">
              <img src="../../../assets/img/port.jpeg" alt="">
            </div>
          </section>

      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>