<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row align-items-center justify-content-center" style="height: 100vh;">
            <div class="col-md-4 form-container">
                <div class="container text-center">
                    <img src="../../../assets/img/logos-elanet-y-acordes.png" style="width: 290px; height: 356px">
                </div>

                <h1 class="text-center"><strong>Registro</strong></h1>

                <form action="">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name:</mat-label>
                        <input matInput placeholder="Digite nombre de usuario">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password:</mat-label>
                        <input type="password" matInput placeholder="Digite su clave">
                    </mat-form-field>

                    <div class="container text-center">
                        <button mat-raised-button style="background-color: #002856; color: white;">Acceda</button>
                    </div>
                      
                </form>
            </div>
        </div>
    </div>
</div>
