
<mat-sidenav-container class="example-container">

  <mat-sidenav mode="side" opened>
    <img style="width: 80px; height: 80px;" src="../../../assets/img/logo-emprendimiento.png" alt="logo">

    <mat-divider></mat-divider>

    <button routerLink="/student-program" mat-button class="menu-button">
      <mat-icon>school</mat-icon>
      <span>Seminario</span>
    </button>

    <button routerLink="/student-lideres" mat-button class="menu-button">
      <mat-icon >event</mat-icon>
      <span style="padding-right: 10px;">Comite</span><br><span style="padding-right: 5px;">Organizador</span>
    </button>


    <button routerLink="/student-modul" mat-button class="menu-button">
      <mat-icon style="padding-right: 20px;">category</mat-icon>
      <span style="padding-right: 10px;">Tematicas</span><br><span style="padding-right: 5px;">Ponencias</span>
    </button>

    <button routerLink="/student-tarea" mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Tareas</span>
    </button>

    <mat-divider></mat-divider>

    <button routerLink="/student-help" mat-button class="menu-button">
      <mat-icon>record_voice_over</mat-icon>
      <span>Comunicados</span>
    </button>

    <button routerLink="/student-calendar" mat-button class="menu-button">
      <mat-icon>date_range</mat-icon>
      <span>Calendario</span>
    </button>

    <button routerLink="/history" mat-button class="menu-button">
      <mat-icon>history</mat-icon>
      <span>Historial</span>
    </button>

    <button routerLink="/student-project" mat-button class="menu-button">
      <mat-icon>check_circle</mat-icon>
      <span>Proyecto Final</span>
    </button>

    <mat-divider></mat-divider>

    <button routerLink="/student-help" mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Ayuda</span>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="content mat-elevation-z8">
      <div class="contenido" style="color: black;">

        

      </div>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>